<p>
この度はお問い合わせいただきまして、<br />
誠にありがとうございます。
</p>

<p>　　
担当者より追ってご連絡差し上げます。<br />
今しばらく待ちくださいませ。
</p>
<p>
━━━━━━━━━━━━━━━━━━━━━━<br/>
  kenchikukatachi inc,<br/>
  http://www.kenchikukatachi.com/<br/>
  cs@kenchikukatachi.com<br/>
</p>