<p>パスワードのリセットがリクエストされました。<br />新しいパスワードを入力するには、こちらのリンクをご覧ください：</p>

<p><%= link_to 'パスワードをリセットする', edit_password_url(@user, reset_password_token: @token) %></p>

<p>
  パスワードを変更しない場合やパスワード リセットをリクエストしていない場合は、このメッセージを無視してください。
</p>

<p>
  　　━━━━━━━━━━━━━━━━━━━━━━<br />
  　　kenchikukatachi inc,<br />
  　　http://www.kenchikukatachi.com/<br />
  　　cs@kenchikukatachi.com<br />
</p>