<p><%= @user.email %>様</p>
<p>
  このたびは、ケンチクカタチ会員にご登録いただきまして、<br />
  誠にありがとうございます。<br />
  お客様の登録が完了いたしましたのでご連絡申し上げます。<br /><br />

  ご不明な点やご質問などございましたら、お気軽にお問い合せください。<br />
</p>
<p>
  　　━━━━━━━━━━━━━━━━━━━━━━<br/>
  　　kenchikukatachi inc,<br/>
  　　http://www.kenchikukatachi.com/<br/>
  　　cs@kenchikukatachi.com<br/>
</p>